@import url("../vendor/normalize.css");



body {
  /*background: url(../image/Шапка.jpg) no-repeat;  */
  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-color: rgb(167, 236, 245);
}



.page {
   display: flex;
   flex-direction: column;
   align-content: center;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1440px;
   min-width: 320px;
   box-sizing: border-box;  
    -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
}

.heder {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
  border-radius: 20px;
}
.heder__logo {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}
.heder__logo-img {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}
.subtitle {
  display: flex;
  font-family: 'Open+Sans';
  font-style: normal;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin-bottom: 0;
}
.heder__logo-text {
  display: flex;
  max-width: 16.875rem;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
color: rgb(255, 0, 0);
}
.heder__blok {
  width: 13.75rem;
  display: flex;
  box-shadow: 0 0 10px rgba(21, 6, 240, 0.5);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin-right: 1.875rem;
}
.heder__icon {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: auto;
  margin-bottom: auto;
}
.heder__text {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bolder;
}

.span {
  color: red;
  text-decoration: underline;
}



.heder__menu {
  /*background-color: rgb(119, 114, 114);*/
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.heder__menu-list {
  display: flex;
  list-style: none;
  margin: auto 0 auto 0;
  padding-left: 0;
}
.heder__menu-list-str {
  display: flex;
  font-family: 'Lora';
  background-color: rgb(250, 250, 250);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
    text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border: 2px groove grey;
  box-shadow: 10px 20px 10px rgba(41, 40, 44, 0.5);
}
.menu {
  text-decoration: none;
  color: #ff0000;
  display: block;
}


.gallery {
  width: 80%;
  height:13.75rem;
  overflow: hidden;
  overflow-x: scroll;
  background: yellow;
  white-space:nowrap;
  margin-right: auto;
  margin-left: auto;
}

.gallery__photo {
  display: inline-block;
  vertical-align: top;
  width: 12.5rem;
  height:12.5rem;
  background: red;
  background-image: url(../image/Mihail.jpg);
  background-size: contain;
 
}





.text {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 20px 10px rgba(41, 40, 44, 0.5);
  margin-bottom: 80px;
}
.text__contents {
  display: flex;
  font-family: monospace;
  font-style: normal;
  font-size: 3.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.text__slogan {
  display: flex;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
    color: red;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 2em;
}
.title {
  display: flex;
  text-align: left;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 500;
  color: #000000;
    margin-bottom: 0;
}
.text__text {
font-size: 1.25rem;
font-weight: bold;
color: rgb(60, 60, 61);
}
.text__text--list {
}
.important__list--questions-a {
  color: rgb(60, 60, 61);
}

.text__text--list-item {
  font-family: Open sans;
  font-weight: 500;
  font-size: 1.5rem;
}




.important {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 50px;
  font-family: 'Open sans';
  font-weight: 500;
  font-size: 1.5rem;
}

.important__img{
  display: flex;
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}
.important__img--img {
  display: flex;
  width: 100%;
  object-fit: cover;
  padding: 20px 0;
 
}
.important__list {
  list-style: none;
  padding: 0;
  
}
.important__list--questions {   
  padding: 10px 30px;
background: linear-gradient(to left, #f8ab8d 0%, white, #f8ab8d);
border-bottom: 1px solid grey;
color: #506a6b;
font-size: 20px;
box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
margin-bottom: 5px;
}
.important__list .important__list--questions :last-child {border-bottom: none;}


.important__home {
  color: rgb(4, 4, 250);
  font-weight: 600;
  line-height: 1.7rem;
}


.contact {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open+Sans';
}
.contact__title {
  align-self: center;
}
.contact__map {
  border: 10px groove #b8bbb9;
  box-shadow: 10px 20px 10px rgba(41, 40, 44, 0.5)
}
 


.contact__working--hours {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contact__working--hours_title {
  align-self: center;
}
.contact__working--hours_text {
  align-self: center;
  padding-left: 100px;
}
.contact__adress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.contact__adress--ofice {
}
.contact__adress--ofice_title {
}
.contact__adress--ofice_text {
}
.contact__adress--ofice_phone {
}
.contact__adress--ofice_messenger {
}
.contact__adress--ofice_messenger-title {
}
.contact__adress--ofice_messenger-icon {
}
.contact__adress--ofice_messenger-icon__whatsapp {
}
.contact__adress--ofice_messenger-icon__telegramm {
}




.footer ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}






/*
.footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: #1f1f1f;
  min-height: 320px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-top: 3.75rem;
  margin-bottom: 2.5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 44.4375rem;
  justify-content: space-between;
}

.logo_place_footer {
  display: flex;
  width: 12.5rem;
  height: 12.5rem;
    color: white;
}

.footer__author {
  display: flex;
  color: white;
  margin-bottom: 1.125rem;
  margin-top: 1.125rem;
  line-height: 1.5625rem;
  font-size: 1.125rem;
  font-weight: normal;
}

.footer__column_content_info {
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__colum-heading {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.875rem;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  color: white;
  align-items: stretch;
  margin-bottom: 1rem;
  padding-left: 0;
  line-height: 1.875rem;
  font-size: 1.125rem;
  font-weight: normal;
}

.footer__column-list {
  list-style-type: none;
  line-height: 1.875rem;
  font-size: 1.125rem;
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.column-links {
  list-style-type: none;
  line-height: 1.875rem;
  font-size: 1.125rem;
  text-decoration: none;
  color: white;
  font-weight: normal;
  opacity: 1;
}

.column-links:hover {
  opacity: 0.5;
}

.footer__column_content_social {
  justify-items: center;
  color: white;
}

.footer__social-icons {
  width: 1rem;
  height: 1rem;
}

*/

/*bak*#f7f7f7*
color: #666;*/