@import url("../vendor/normalize.css");

body {
  /*background: url(../image/Шапка.jpg) no-repeat;  */
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  /*background-color: rgb(167, 236, 245);*/
  background-image: url(../image/Fon_site.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  min-width: 320px;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.heder {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
  border-radius: 20px;
}
.heder__logo {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 250px;
  margin-left: 15px;
  margin-right: 15px;
}
.heder__logo-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
.subtitle {
  display: flex;
  font-family: "Open+Sans";
  font-style: normal;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin-bottom: 0;
}
.heder__logo-text {
  display: flex;
  max-width: 16.875rem;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 0, 0);
}
.heder__blok {
  width: 13.75rem;
  display: flex;
  box-shadow: 0 0 10px rgba(21, 6, 240, 0.5);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin-right: 1.875rem;
}
.heder__icon {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: auto;
  margin-bottom: auto;
}
.heder__text {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bolder;
}

.span {
  color: red;
  text-decoration: underline;
}

/* Адаптивный блок меню */

.menu-div {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.toggle-button {
}
.heder__menu-list {
  display: flex;
}
.heder__menu-list-str {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  padding: 26px 6px;
  margin-right: 33px;
}
.menu:hover {
  background: rgb(231, 159, 24);
}
#menu-checkbox {
  display: none;
}
/*
.heder__menu {
  display: flex;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
.heder__menu-list {
  display: flex;
  list-style: none;
  margin: auto 0 auto 0;
  padding-left: 0;
}
.heder__menu-list-str {
  display: flex;
  font-family: "Lora";
  background-color: rgb(250, 250, 250);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border: 2px groove grey;
  box-shadow: 10px 20px 10px rgba(41, 40, 44, 0.5);
}

.menu {
  text-decoration: none;
  color: #ff0000;
  display: block;
}
.menu:hover {
  text-decoration: none;
}
.menu__text-a:hover {
  color: green;
  background-color: #d2d6d6;
  border: 2px groove rgb(64, 250, 7);
}
*/
.gallery {
  width: 80%;
  height: 13.75rem;
  overflow: hidden;
  overflow-x: scroll;
  background: yellow;
  white-space: nowrap;
  margin-right: auto;
  margin-left: auto;
}

.gallery__photo {
  display: inline-block;
  vertical-align: top;
  width: 12.5rem;
  height: 12.5rem;
  background: red;
  background-image: url(../image/Mihail.jpg);
  background-size: contain;
}

.text {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 20px 10px rgba(41, 40, 44, 0.5);
  margin-bottom: 80px;
}
.text__contents {
  display: flex;
  font-family: monospace;
  font-style: normal;
  font-size: 3.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.text__slogan {
  display: flex;
  text-align: center;
  margin: 0 auto;
  text-decoration: underline;
  color: red;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 2em;
}
.title {
  display: flex;
  text-align: left;
  font-family: "Lora";
  font-style: italic;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0;
}
.text__text {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(60, 60, 61);
}
.text__text--list {
}
.important__list--questions-a {
  color: rgb(60, 60, 61);
}

.text__text--list-item {
  font-family: Open sans;
  font-weight: 500;
  font-size: 1.5rem;
}

/*граница блока*/

.important {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 50px;
  font-family: "Open sans";
  font-weight: 500;
  font-size: 1.5rem;
}

.important__img {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}
.important__img--img {
  display: flex;
  width: 100%;
  object-fit: cover;
  padding: 20px 0;
}
.important__list {
  list-style: none;
  padding: 0;
}
.important__list--questions {
  padding: 10px 30px;
  background: linear-gradient(to left, #f8ab8d 0%, white, #f8ab8d);
  border-bottom: 1px solid grey;
  color: #506a6b;
  font-size: 20px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
.important__list .important__list--questions :last-child {
  border-bottom: none;
}

/*от сюда переработал*/

.demo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto 50px;
  font-family: "Open sans";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
  display: none;
}
/* вид текста label */
.hide + label {
  margin: 0;
  color: rgb(106, 109, 106);
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background: linear-gradient(to left, #f8ab8d 0%, white, #f8ab8d);
  border-bottom: 1px solid grey;
  /*box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);*/
  box-shadow: inset 0px 0px 5px rgba(154, 147, 140, 0.5), 10px 10px 8px rgb(121, 119, 119);
}
/* вид текста label при активном переключателе */
.hide:checked + label {
  color: rgb(91, 209, 101);
  border-bottom: 0;
  font-weight: 600;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: block;
  padding: 10px 30px;
  background: linear-gradient(to left, #f8ab8d 0%, white, #f8ab8d);
  border-bottom: 1px solid grey;
  -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
  -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
  box-shadow: inset 3px 3px 10px #7d8e8f;
  margin-left: 20px;
  padding: 10px;
  /* чуточку анимации при появлении */
  -webkit-animation: fade ease-in 0.5s;
  -moz-animation: fade ease-in 0.5s;
  animation: fade ease-in 0.5s;
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hide + label:before {
  background-color: #1e90ff;
  color: #fff;
  content: "\002B";
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin: 3px 5px;
  text-align: center;
  width: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.hide:checked + label:before {
  content: "\2212";
}

.important__list--questions-enclosure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.important__important__list--questions-enclosure--1 {
  grid-area: 1 / 1 / 2 / 3;
}
.important__important__list--questions-enclosure--2 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.important__important__list--questions-enclosure--3 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.important__important__list--questions-enclosure--4 {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.important__important__list--questions-enclosure--5 {
  grid-area: 5 / 1 / 6 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.important__important__list--questions-enclosure--6 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.important__important__list--questions-enclosure--7 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.important__important__list--questions-enclosure--8 {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.important__important__list--questions-enclosure--9 {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.important__important__list--questions-enclosure--description {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: monospace;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2rem;
  color: red;
}
.important__home {
  color: rgb(4, 4, 250);
  font-weight: 600;
  line-height: 1.7rem;
}

/*скопировал классы вентиляции CSS*/

.important__list--questions-enclosure {
}
.important__important__list--questions-enclosure {
  box-shadow: inset 3px 3px 10px #e0a015;
  border-radius: 30px;
}
.important__important__list--questions-enclosure--1 {
}
.important__important__list--questions-enclosure--description {
}
.important__list--questions-enclosure-title {
  color: #35b44a;
  font-size: 3.5rem;
  line-height: 3.7rem;
}
.important__important__list--questions-enclosure-title {
  color: rgb(13, 61, 218);
  text-decoration: underline;
  padding-bottom: 15px;
  padding-top: 15px;
}

.important__important__list--questions-enclosure--2 {
}
.important__important__list--questions-enclosure-subtitle {
  font-family: "Lora";
  color: #325253;
}
.important__important__list--questions-enclosure--3 {
}
.important__important__list--questions-enclosure--4 {
}
.important__important__list--questions-enclosure--5 {
}
.important__important__list--questions-enclosure--6 {
}
.important__important__list--questions-enclosure--7 {
}
.important__important__list--questions-enclosure--8 {
}
.important__important__list--questions-enclosure--9 {
}

/*дальше пошли стили сворачиваемых блоков */

.hide__ventilation {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Lora";
  margin-left: auto;
  margin-right: auto;
}
.hide__ventilation--img {
  display: flex;
  object-fit: cover;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hide__ventilation--span {
  color: green;
  font-weight: 600;
}
.hide__ventilation--title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  font-style: italic;
  color: #1e0db6;
}
.hide__ventilation--block-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: baseline;
}
.hide__ventilation--img-in-block {
  width: 300px;
  height: 300px;
}
.hide__ventilation--scroll--points {
  font-family: "Lora";
  margin: 20px 0;
}
.ventilation__span--span {
  text-transform: uppercase;
  color: red;
  text-decoration: underline;
}

.hide__ventilation--scroll--points-text {
  color: rgb(8, 143, 42);
  margin: 10px 0;
}

.hide__block-air-conditioners {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.hide__block-air-conditioners--conditioners-description {
  flex-direction: column;
  padding: 0;
}
.hide__ventilation--description {
  font-size: 1.2rem;
}

/*Что бы не перепутать блоки*/
.contact {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open+Sans";
}
.contact__title {
  align-self: center;
}
.contact__map {
  border: 10px groove #b8bbb9;
  box-shadow: 10px 20px 10px rgba(41, 40, 44, 0.5);
}
.contact__working--hours {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contact__working--hours_title {
  align-self: center;
}
.contact__working--hours_text {
  align-self: center;
  padding-left: 100px;
}
.contact__adress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__adress--ofice {
}
.contact__adress--ofice_title {
}
.contact__adress--ofice_text {
}
.contact__adress--ofice_phone {
}
.contact__adress--ofice_messenger {
}
.contact__adress--ofice_messenger-title {
}
.contact__adress--ofice_messenger-icon {
}
.contact__adress--ofice_messenger-icon__whatsapp {
}
.contact__adress--ofice_messenger-icon__telegramm {
}

/* Пункт к видам деятельности по водопроводу */

.activities {
  display: flex;
  width: 80%;
  flex-direction: column;
  background-image: url(../image/Water/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.activities__text {
  color: #000000;
}
.activities__definitions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.2);
  width: fit-content;
  justify-content: space-between;
}
.activities__definitions--block {
  max-width: 150px;
  margin: 5px 20px;
  background: rgba(255, 255, 255, 0);
  font-family: "Open Sans";
}
.activities__definition--img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  max-height: 100px;
}
.activities__definitions--text {
  max-width: 100%;
  color: #000000;
}

.footer ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

@media (max-width: 1200px) {
  .heder__menu-list-str {
    font-size: calc(0.9rem + (1 - 0.9) * ((100vw - 320px) / (1200 - 320)));
    padding: calc(4px + (5 - 4) * ((100vw - 320px) / (1200 - 320)));
    margin-left: calc(4px + (5 - 4) * ((100vw - 320px) / (1200 - 320)));
    margin-right: calc(4px + (5 - 4) * ((100vw - 320px) / (1200 - 320)));
  }
  .heder__text {
    font-size: calc(1rem + (1.25 - 1) * ((100vw - 320px) / (1200 - 320)));
  }
  .heder__blok {
    width: 13.75rem;
    margin-right: calc(1.5rem + (1.875rem - 1.5rem) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media (max-width: 1060px) {
  .heder__blok {
    display: none;
  }
}

.sorry {
  display: flex;
}
.sorry__img {
  max-width: 100%;
  height: auto;
}

/* Делаем всплывающее меню */
@media screen and (max-width: 768px) {
  .menu-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .heder__menu-list {
    display: none;
  }
  .heder__menu-list-str {
    width: 100%;
    display: block;
    font-size: 12px;
  }
  .menu {
    display: block;
    padding: 8px;
  }
  .toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
    color: black;
  }
  .toggle-button:after {
    content: attr(data-open);
    display: block;
  }
  #menu-checkbox:checked + nav[role="navigation"] .heder__menu-list {
    display: block;
  }
  #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
    content: attr(data-close);
  }
  .heder__menu-list-str {
    margin-right: -65px;
  }
  .heder__menu-list {
    position: relative;
    top: 30px;
    right: 115px;
  }
}
@media (max-width: 426px) {
  .gallery {
    width: 100%;
  }
  .text__contents {
    font-size: 2rem;
  }
  .text__text {
    font-size: 1rem;
  }
  .text__text--list-item {
    font-size: 1rem;
  }
}
