@import url(https://fonts.googleapis.com/css?family=Lora);

.page {
   background-color: rgba(220, 230, 215, 0);
    max-width: 100%;
   
}
.header {
    
    height: auto;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    background-image: url(../image/Шапка.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.header__img {
    width: 200px;
    height: 150px;
    margin: 20px;

}

.header__menu{
display: flex;
}

.header__menu_button {
list-style: none;
display: flex;
}

.header__menu_button-kn {
font-family: 'Times New Roman', Times, serif;
font-size: 1em;
text-align: center;

padding-left: 1rem;
padding-right: 1rem;
}

a {
    text-decoration: none;
    display: block;
}