

.tin-products {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.tin-products__title {
    align-self: center;
    font-style: normal;
}

.tin-products__subtitle {
    font-size: 1.40rem;
    align-self: center;
}
.tin-products__dimensions {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tin-products__dimensions--peak {
    flex-direction: column;
}
.tin-products__dimensions--peak-img {
}
.tin-products__equipment {
}
.tin-products__equipment-enumeration {
    list-style-type: none;
}
.tin-products__equipment-enumeration-list {
    padding-left: 20px;
    position: relative;
    margin: 10px; 
}

.tin-products__equipment-enumeration-list::before {
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: rgb(20, 228, 37);
}